<div id="popup-zone" class="visible">
  <div id="popup" class="popup-trail">
    <div id="events" style="overflow:auto;">
      <button id="close-popup" (click)="close()">x</button>
      @if(data.referentiel != 'Autre/inconnu' && data.referentiel != 'taxref'){
        <a class="events-category-label" href="https://www.tela-botanica.org/eflore?referentiel={{data.referentiel}}"
           rel="category" title="{{data.referentiel}}" target="_blank">
        {{data.referentiel}}</a>
        <h2 id="events-title"><a href="https://www.tela-botanica.org/{{data.referentiel}}-nn-{{data.nomRetNn}}" title="{{data.nomSel}}" target="_blank" [innerHTML]="data.nomSel"></a></h2>
      } @else {
        <a class="events-category-label" title="{{data.referentiel}}">
        {{data.referentiel}}</a>
        <h2 id="events-title"><a title="{{data.nomSel}}" [innerHTML]="data.nomSel"></a></h2>
      }
      @if(data.famille){<p>Famille: <i>{{data.famille}}</i></p>}
    </div>

    <div class="events-info">
      <h2 class="events-info-title"><span>Infos sur l'observation</span></h2>

      <dl class="events-info-items">
        <dt class="events-info-item-title">Observée par</dt>

        <ng-container *ngIf="data.utilisateur?.nom_utilisateur; else noUser">
          <a href="{{ profilLink }}" target="_blank" class="events-info-item-text" [innerHTML]="displayedName"></a>
        </ng-container>
        <ng-template #noUser>
          <dd class="events-info-item-text" [innerHTML]="displayedName"></dd>
        </ng-template>

        <dt class="events-info-item-title">Date de l'observation</dt>
        <dd *ngIf="formattedDate != null" class="events-info-item-text">
          Le {{formattedDate[0]}} {{formattedDate[1]}} {{formattedDate[2]}}</dd>
        <dt class="events-info-item-title">Type d'observation</dt>
        <dd class="events-info-item-text">{{data.typeDonnees}}</dd>

        @if (data.milieu){
        <dt class="events-info-item-title">Milieu</dt>
        <dd class="events-info-item-text">{{data.milieu}}</dd>
        }

        @if(data.commentaire){
        <dt class="events-info-item-title">Commentaire</dt>
        <dd class="events-info-item-text">{{data.commentaire}}</dd>
        }
      </dl>
    </div>

    <h2 class="events-info-title"><span>Les photos</span></h2>
    <div class="popup-photos-section">
      @for (image of data.image; track image.id_image){
        <div class="events-contact-image popup-photos" style="background-image: url({{image.url}}
        );background-size:cover"></div>
      }
    </div>

    <div class="events-contact obs-popup-ip-section">
      <p>Une erreur de détermination ?</p>
      <a href="{{cleanIpUrl}}" target="_blank" title="Lien vers Identiplante">Aidez à l'identification grâce à Identiplante</a>
    </div>

  </div>
</div>
