AddDefaultCharset UTF-8
DirectoryIndex index.html
RewriteEngine On
RewriteBase /
# Redirections générale vers le fichier principal de Widget.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.html
